spring:
  datasource:
    url: jdbc:h2:mem:tinyurldb
    username: ${DB_USERNAME:defaultusername}
    password: ${DB_PASSWORD:defaultpassword}
    driverClassName: org.h2.Driver
  h2:
    console.enabled: true
  jpa:
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
    hibernate.ddl-auto: update
    show-sql: true